:root {
    --primary-color: #848269;
    --secondary-color: rgb(17,34,61);
    --tertiary-color: rgb(255,235,205);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--tertiary-color);  
}

/*Header Styling*/
header {
    background-color: rgb(17,34,61,.5);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0);
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding: 20px;
    border-bottom: solid black;
}


header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
    padding-right: 30px;
}

header nav ul li a {
    border-spacing: 20px;
    border-style: outset;
    border-width: thin;
    border-radius: 5px;
    font-size: 16pt;
}

header nav ul li a:hover {
    background: var(--primary-color);
    border-radius: 5px;
}

/*Begin styling About Me section*/
.about-me-styling {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary-color);
    padding-top: 50px;
}

.about-me-styling h1 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: var(--secondary-color);
    border-bottom: 6px solid var(--secondary-color);
    width: 25%;
}

.personal-facts {
    background-color: var(--tertiary-color);
    padding: 0px 50px 80px 50px;
}

.personal-facts ul li {
    font-size: 38px;
    margin-left: 80px;
    padding-top: 0px;
}

.personal-facts img {
    margin:auto;
    width: 10cm;
    height: 9cm;
    overflow: auto;
    padding-left: 40px;
    padding-top: 0px;
}

/*begin styling creation preview section*/
.preview-creations {
    margin: auto;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preview-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border-bottom: 6px solid;
    margin: 0 auto 50px auto;
    width: 25%;
}

.preview-creations img, h2 {
    background-color: var(--tertiary-color);
    padding: 15px 60px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

 /*Begin footer styling*/
footer {
    padding: 10px 25px;
    background-color: rgb(17,34,61,.5);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: solid black;
}

.connect {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: rgb(0,0,0);
    text-decoration: none;
}

.connect h3 {
    padding-bottom: 10px;
}

.connect h3 {
    display: flex;
    justify-content: left;
}
/*Add items to make the website work on different device sizes*/