:root {
    --primary-color: #848269;
    --secondary-color: rgb(17,34,61);
    --tertiary-color: rgb(255,235,205);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--primary-color);  
}

/*Header Styling*/
header {
    background-color: rgb(17,34,61,.5);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0);
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding: 20px;
}


header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
    padding-right: 30px;
}

header nav ul li a {
    border-spacing: 20px;
    border-style: outset;
    border-width: thin;
    border-radius: 5px;
    font-size: 16pt;
}

header nav ul li a:hover {
    background: var(--primary-color);
    border-radius: 5px;
}

/*Begin styling About Me section*/
.about-me-styling {
    background-color: var(--tertiary-color);
    padding: 60px;
    font-size: 48px;
    color: var(--secondary-color);
    text-decoration-line: underline;
    padding-bottom: 0px;
}

.personal-facts {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: center;
    padding: 0px 50px 80px 50px;
}

.personal-facts ul li {
    font-size: 38px;
    margin-left: 80px;
    padding-top: 0px;
}

.personal-facts img {
    margin:auto;
    width: 20%;
    overflow: auto;
    padding-left: 40px;
    padding-top: 0px;
}

/*begin styling creation preview section*/
.preview-creations {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.preview-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 6px solid;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.preview-creations img {
    padding: 50px;
    width: 25%;
    overflow: auto;
}

 /*Begin footer styling*/
footer {
    padding: 25px;
    background-color: rgb(17,34,61,.5);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.connect {
    display: flex;
    flex-wrap: wrap;
}

/*Add items to make the website work on different device sizes*/