:root {
    --primary-color: #848269;
    --secondary-color: rgb(17,34,61);
    --tertiary-color: white;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white; 
}

/*Header Styling*/
header {
    background-image: url("https://images.pexels.com/photos/7120460/pexels-photo-7120460.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0,0,0);
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding: 20px;
    border-bottom: solid black;
}

header nav ul li {
    display: inline;
    padding-right: 30px;
}


/*Begin styling About Me section*/
.about-me-styling {
    padding: 25px 30px 0px 30px;
    background-color: var(--tertiary-color);
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-me-styling-section {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: var(--secondary-color);
    width: 40%;
    padding-left: 20px;
}

.about-me-styling-section h1 {
    font-size: 30pt;
    text-align: center;
    content: "";
    margin: 0 auto;
    width: 80%;
    border-bottom: 2px solid var(--secondary-color);
}

.about-me-styling-section p {
    font-size: 14pt;
    color: black;
    padding: 0px 0px 0px 70px;
}

.personal-facts img {
    margin: auto;
    width: 10cm;
    height: 10cm;
    overflow: auto;
    border: 5px solid var(--primary-color);
    border-radius: 2px;
    box-shadow: 5px 5px;
}

/*begin styling creation preview section*/
.creations-banner {
    text-align: center;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border-bottom: 2px solid;
    margin: 0 auto 50px auto;
    width: 25%;
    padding-top: 70px;
}


.preview-creations {
    margin: 0 auto;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.completed-projects img {
    max-width: 400px;
    max-height: 400px;
}

/* .completed-projects img:hover {
    position: relative;
    top: -25px;
    left:-35px;
    width:500px;
    height: auto;
    display: block;
    box-shadow: 5px 5px;
    z-index: 999;
} */

 /*Begin footer styling*/
footer {
    padding: 10px 25px;
    background-image: url("https://images.pexels.com/photos/7120460/pexels-photo-7120460.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: solid black;
}

.connect {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color:white;
    text-decoration: none;
}

.connect h3 {
    padding-bottom: 10px;
}

.connect h3 {
    display: flex;
    justify-content: left;
}

/*Start Media queries*/

/*980px screens and smaller stylings*/
@media screen and (max-width: 980px) {
    header {
        padding-right: 0px;
    }
    .about-me-styling-section h1 {
        font-size: 18pt;
        padding-left: 0px;
    }
    .about-me-styling-section p {
        font-size: 14pt;
        padding: 7px 20px 0px 55px;
    }
    .personal-facts img {
        width: 8cm;
        height: 8cm;
    }

    .creations-banner {
        font-size: 18pt;
        margin: auto;
        width: 20%;
    }
    .preview-creations {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
    }
   .completed-projects img {
       max-width: 100%;
       max-height: 100%;
   }
   .completed-projects h2 {
       font-size: 14pt;
   }
   .connect h3 {
       padding-bottom: 2px;
   }
}

/*768px screens and smaller stylings*/
@media screen and (max-width: 768px) {
    header {
        padding: 15px 0px 8px 0px;
    }

    header nav ul li {
        padding-right: 15px;
    }
    header nav ul li a {
        font-size: 13pt;
    }
    .about-me-styling {
        padding-top: 22px;
    }
    .about-me-styling-section h1 {
        font-size: 14pt;
        padding: 0px;
        margin: auto;
    }
    .about-me-styling-section p {
        font-size: 12pt;
        padding: 0px 5px 0px 30px;
    }
    .personal-facts img {
        width: 5cm;
        height: 5cm;
    }
    .creations-banner {
        font-size: 14pt;
        margin: auto;
        padding: 50px 0px 0px 0px;
    }
    .preview-creations {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
    }
    .completed-projects h2 {
        font-size: 10pt;
    }
    .completed-projects img {
        max-width: 100%;
        max-height: 100%;
    }
    .connect h3 {
        font-size: 12pt;
        padding-bottom: 2px;
    }
}

/*575px screens and smaller stylings*/
@media screen and (max-width: 575px) {
    header {
        padding: 7px 0px 4px 0px
    }
    header nav ul li {
        padding-right: 15px;
    }
    header nav ul li a {
        font-size: 10pt;
    }
    .about-me-styling {
        padding: 20px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .about-me-styling-section h1 {
        font-size: 11pt;
        padding: 0px;
        margin: auto;
    }
    .about-me-styling-section p {
        font-size: 9pt;
        padding: 0px 2px 0px 15px;
    }
    .personal-facts img {
        width: 3.5cm;
        height: 3.5cm;
    }
    .creations-banner {
        font-size: 13pt;
    }
    .preview-creations {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }

    .completed-projects h2 {
        font-size: 12pt;
        padding-top: 25px;
    }
    .completed-projects img {
        max-width: 100%;
        max-height: 100%;
    }
}